div#collectionLayerModal.modal.hide.fade
	div.modal-header
		button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
		h3 Layers in {{currentCollection.name}}
		hr
		p
			input.search-query(type='text', ng-model='layerFilter', placeholder='Enter search terms...')
			span.pull-right Results : {{(currentCollection.layers | filter:layerFilter).length}}
	div.modal-body
		ul.unstyled
			li(ng-repeat='layer in currentCollection.layers | filter:layerFilter')
				p
					strong <i ng-class='mapTypeIcon(layer.type)'> </i>
						a(href='#', ng-click='map.layers.push(layer)'){{layer.name}}
					<br> <strong>Year : </strong>{{layer.date | date:'yyyy'}}
					<br> <strong>Description : </strong>{{layer.description}}
					<br> <strong>Keywords : </strong> {{layer.keywords}} 
